<!DOCTYPE html>
<html>
  <head>
    <title>Boggle Game</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <section id="game-container">
      <h1>Let's play boggle</h1>
      <div id="gameboard">
        <table id="letters">
          {% for row in board %}
          <tr class="row">
            {% for col in row %}
            <td class="letter">{{col}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <!-- form controls will be appended to div with js -->
      <div id="game-stats">
        <!-- keep track of game statistics -->
        <h2>Stats</h2>
        <div id="game-timer">Timer: <span id="timer">60</span></div>
        <div id="game-count">Game count {{game_count}}</div>
        <div id="high-score">High score {{high_score}}</div>
        <div id="score">Score: <span id="current-score">0</span></div>
      </div>
      <div id="game-form">
        <form method="POST" class="add-word">
          <input name="word" class="word" autofocus />
          <button>Enter</button>
        </form>
      </div>
      <div id="game-words">
        <h2>Words</h2>
        <ul id="#word-list"></ul>
      </div>
    </section>
  </body>

  <script src="http://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
  <script src="{{url_for('static', filename='boggle.js')}}"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>

  <script>
    let game = new BoggleGame(60);
  </script>
</html>
